.nav-container {
    background-color: rgba(237, 190, 19, 0.38);


}

nav ul {
    display: flex;
    padding: 1rem;
    list-style-type: none;
    justify-content: space-around;

}

.sidetext {
    background-color: white;
    text-decoration: none;


}